@font-face {
    font-family: 'S_L-Regular';
    src: url('fonts/S_L-Regular.otf');
    src: url('fonts/rsu_regular.otf') format('otf'),
    font-weight: normal;
    font-style: normal;
}

#wrapper{
  font-family: S_L-Regular, sans-serif;
  font-weight: normal;
  
  margin: 0 auto;
  padding: 100px;
  border-radius: 20px;
  background-color:white;
  text-align: center;
  weight: 70%;
  height: 70%;
}

header{
  font-size: 20px  
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  background-color: orange;
}

p {
  color: #333;
}

#container {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
